[submodule "src/fluxo"]

	path = src/fluxo
	url = https://github.com/wesbdss/AIDA-fluxo.git

	
[submodule "src/AIDA-preprocessamento-1"]

	path = src/AIDA-preprocessamento-1
	url = https://github.com/wesbdss/AIDA-preprocessamento-1.git
[submodule "src/AIDA-processamento-1"]

	path = src/AIDA-processamento-1
	url = https://github.com/wesbdss/AIDA-processamento-1.git

[submodule "src/AIDA-usercode"]

	path = src/AIDA-usercode
	url = https://github.com/wesbdss/AIDA-usercode.git
