[submodule "src/Fluxo"]
	path = src/Fluxo
	url = https://github.com/wesbdss/AIDA-fluxo.git
[submodule "src/preprocessamento/AIDA-preprocessamento-1"]
	path = src/preprocessamento/AIDA-preprocessamento-1
	url = https://github.com/wesbdss/AIDA-preprocessamento-1.git
[submodule "src/processamento/AIDA-processamento-1"]
	path = src/processamento/AIDA-processamento-1
	url = https://github.com/wesbdss/AIDA-processamento-1.git
[submodule "src/AIDA-usercode"]
	path = src/AIDA-usercode
	url = https://github.com/wesbdss/AIDA-usercode.git
